* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(5, 49, 96);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(107, 149, 184);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    transition: 3s;
}

.navbar a {
    font-size: 20px;
    color: rgb(50, 103, 144);
    display: flex;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}
a:hover,
a.active {
    color: rgb(35, 5, 59);
}
ul {
    display: flex;
    list-style: none;
    gap: 25px;
    justify-content: space-between;
}

.Tentang {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    color: rgb(0, 0, 0);
}

.Tentang-content {
    max-width: 600px;
}

.Tentang-content img{
    position: relative;
    width: 64vh;
}

.Tentang-content h1 {
    font-size: 60px;
    font-weight: 700;
}

.Tentang-content h3 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(91, 154, 236);
}

.Tentang-content p {
    font-size: 15px;
    font-weight: 700;
    color: rgb(131, 192, 236);
}

.Kit {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    padding: 0 10%;
    color: azure;
}

.Kit-content {
    max-width: 600px;
}

.Kit-content h2 {
    font-size: 30px;
    font-weight: 700;
}

.Kit-content h3 {
    font-size: 20px;
    font-weight: 700;
}

.Kit-content p {
    font-size: 15px;
    font-weight: 700;
}

span {
    color: rgb(40, 168, 253);
}

.Build {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    color: azure;
}

.Build-content h2 {
    font-size: 30px;
    font-weight: 700;
}

.Build-content h3 {
    font-size: 20px;
    font-weight: 700;
}

.Build-content p {
    font-size: 15px;
    font-weight: 700;
}

.Tim {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    padding: 0 10%;
    color: azure;
}

.Tim-content h2 {
    font-size: 30px;
    font-weight: 700;
}

.Tim-content h3 {
    font-size: 20px;
    font-weight: 700;
}

.Tim-content img {
    position: relative;
    width: 64vh;
}