* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(5, 49, 96);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(107, 149, 184);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    transition: 3s;
}

.navbar a {
    font-size: 20px;
    color: rgb(50, 103, 144);
    display: flex;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}
a:hover,
a.active {
    color: rgb(35, 5, 59);
}
ul {
    display: flex;
    list-style: none;
    gap: 25px;
    justify-content: space-between;
}

.Text {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    color: rgb(0, 0, 0);
}

.furina-content {
    max-width: 350px;
    /* justify-content: center;
    display: ;
    width: auto;
    height: auto;
    align-items: center; */
}

.furina-content img{
    position: relative;
    width: 64vh;
}

.furina-content h1 {
    font-size: 60px;
    font-weight: 700;
}

.furina-content h3 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(91, 154, 236);
}

.furina-content p {
    font-size: 15px;
    font-weight: 700;
    color: rgb(131, 192, 236);
}

.Text-box {
    margin-left: auto;
    border-radius: 20px;
    padding: 0 10%;
    margin-bottom: 25px;
    margin-right: 30px;
}

.content {
    max-width: 600px;
    justify-content: center;
    display: contents;
    width: auto;
    height: auto;
    align-items: center;
}
.content h2 {
    font-size: 30px;
    font-weight: 700;
    color: azure;
}

.content h3 {
    font-size: 20px;
    font-weight: 700;
    color: azure;
}

.content p {
    font-size: 15px;
    font-weight: 700;
    color: azure;
}

span {
    color: rgb(40, 168, 253);
} 

.content img {
    position: relative;
    width: 64vh;
}
 /* .Kit {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    padding: 0 10%;
    color: azure;
} */

/* .Kit-content {
    max-width: 600px;
}

.Kit-content h2 {
    font-size: 30px;
    font-weight: 700;
}

.Kit-content h3 {
    font-size: 20px;
    font-weight: 700;
}

.Kit-content p {
    font-size: 15px;
    font-weight: 700;
}

span {
    color: rgb(40, 168, 253);
} 

.Build {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    color: azure;
}

.Build-content h2 {
    font-size: 30px;
    font-weight: 700;
}

.Build-content h3 {
    font-size: 20px;
    font-weight: 700;
}

.Build-content p {
    font-size: 15px;
    font-weight: 700;
    flex-direction: row;
}

.Tim {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    padding: 0 10%;
    color: azure;
}

.Tim-content h2 {
    font-size: 30px;
    font-weight: 700;
}

.Tim-content h3 {
    font-size: 20px;
    font-weight: 700;
} */

@media (max-width: 400px) { /* agar menjadi flexsibel */
    .Text-box {
        width: 100%;
    }
    .Text {
        width: 100%;
    }
    .content image {
        height: 100px;
        width: 100px;
    }
}